html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #ce9393;
  z-index: 3;
}

main {
  margin-top: 120px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7 1fr);
      grid-template-areas: " m " " s " " a " " i " " o " " c " " t ";
}

main .main-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: m;
  max-width: 100%;
  height: 900px;
}

main .sectors {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s;
  max-width: 100%;
  width: 100%;
  height: auto;
}

main .about-us {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: a;
}

main .secondary-image {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: i;
}

main .our-lawyers {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: o;
}

main .contact {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: c;
}

main .to-up {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: t;
}

main .main-image {
  background-image: url("../images/1.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
}

main .main-image .color-name {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 48, 91, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .main-image .color-name h1 {
  color: white;
  font-size: 3.5rem;
  width: 50%;
  margin-right: 3rem;
}

main .main-image .color-name p {
  color: white;
  font-size: 1.5rem;
  width: 50%;
  margin-right: 3rem;
}

main .sectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding-bottom: 3.5rem;
}

main .sectors .sectors-heading {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .sectors .sectors-heading p {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-left: 10%;
  color: #00305b;
}

main .sectors .sectors-sections {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .sectors .sectors-sections .material-icons {
  color: #41b7c4;
  display: inline;
}

main .sectors .sectors-sections .first-section {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

main .sectors .sectors-sections .first-section div {
  margin-top: 2rem;
  margin-right: 2%;
}

main .sectors .sectors-sections .first-section h2 {
  font-size: 1.6rem;
  display: inline;
  font-weight: 500;
}

main .sectors .sectors-sections .first-section p {
  font-size: 1.4rem;
  margin-top: 2rem;
}

main .sectors .sectors-sections .second-section {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sectors .sectors-sections .second-section div {
  margin-top: 2rem;
}

main .sectors .sectors-sections .second-section h2 {
  font-size: 1.6rem;
  display: inline;
  font-weight: 500;
}

main .sectors .sectors-sections .second-section p {
  font-size: 1.3rem;
  margin-top: 2rem;
}

main .about-us {
  max-width: 100%;
  width: 100%;
  height: auto;
  background-color: #00305b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 3.5rem;
}

main .about-us h3 {
  font-size: 3.5rem;
}

main .about-us p {
  font-size: 1.3rem;
}

main .about-us h3,
main .about-us p {
  display: block;
  width: 70%;
}

main .secondary-image {
  width: 100%;
  max-width: 100%;
  height: 700px;
  background-image: url("../images/2.jpg");
  background-size: cover;
}

main .our-lawyers {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .our-lawyers h4 {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 3.5rem;
  color: #00305b;
}

main .our-lawyers .lawyer {
  width: 230px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .our-lawyers .lawyer img {
  width: 100%;
  height: 50%;
}

main .our-lawyers .lawyer p {
  margin: 1rem;
  text-align: center;
}

main .our-lawyers .lawyer .lawyer-name {
  color: #03325d;
  text-transform: uppercase;
  font-size: 1.4rem;
}

main .our-lawyers .lawyer .lawyer-fonction {
  text-transform: uppercase;
  color: #3f82c0;
  font-size: 1.3rem;
}

main .our-lawyers .lawyer hr {
  background-color: #3f82c0;
  height: 1px;
  border: none;
}

main .our-lawyers .lawyer .lawyer-tel {
  color: #03325d;
  font-size: 1.1rem;
}

main .our-lawyers .lawyer .lawyer-email {
  color: #03325d;
  font-size: 1.1rem;
}

main .contact {
  width: 100%;
  height: 800px;
}
/*# sourceMappingURL=index.css.map */