html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


#first-img {
  padding-top: 130px;
  margin-top: -130px;
}

#services {
  padding-top: 130px;
  margin-top: -130px;
}

#about-us {
  padding-top: 130px;
  margin-top: -130px;
}


#projects {
  padding-top: 130px;
  margin-top: -130px;
}

#contact {
  padding-top: 130px;
  margin-top: -130px;
}



.preloader {
 
  position: fixed;
  
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  background: #e0e0e0;

  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.up-header {
  height: 20px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 2;
}

header {
  height: 130px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 20px;
  left: 0px;
  z-index: 2;

}


header>div:nth-child(1) {
  background-color: #edcd1f;
  height: 130px;
  width: 23%;
  border-top: 1px solid #1e2d3b;
  border-bottom: 1px solid #1e2d3b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

.circle {
  width: 15%;
  height: 50%;
  border-radius: 50%;
  background-color: #1e2d3b;
  animation: radial-pulse 3s infinite;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px #3d5975;
  }

  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

header h2 {
  margin: 8px 20px;
}

header h2 a {
  text-decoration: none;
  color: inherit;
}

header h2:nth-of-type(1) {
  font-size: 1.9rem;
  font-weight: 500;
}

header h2:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 700;
}

header>nav {
  background-color: #1e2d3b;
  width: 77%;
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top: 1px solid #1e2d3b;
  border-bottom: 1px solid #1e2d3b;
  flex-shrink: 2;
}

header>nav>a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  margin-right: 5rem;
  margin-bottom: 1.5rem;

}

header>nav>a:hover {
  color: #edcd1f;
  transition-duration: 0.2s;

}

header>nav>a:focus {
  color: #edcd1f;


}

main {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(12 1fr);
  grid-template-rows: repeat(9 1fr);
  grid-template-areas:
    "i i i i i i i i i i i i"
    "v v v v v v v v v v v v"
    "s s s s s s s s s s s s"
    "a a a a a a a a a a a a"
    "n n n n n n n n n n n n"
    "p p p p p p p p p p p p"
    "o o o o o o o o o o o o"
    "m m m m m m m m m m m m"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f"
  ;
}

.first-image {
  grid-area: i;
  width: 100%;

  background-image: url(../images/first-image.jpg);
  background-size: cover;
}



.services-name {
  grid-area: v;
  width: 100%;
  height: auto;


}

.services {
  grid-area: s;
  width: 100%;



}

.about-us {
  grid-area: a;
  width: 100%;

}

.info {
  grid-area: n;
  width: 100%;

  background-color: #edcd1f;
}

.projects {
  grid-area: p;
  width: 80%;


}

.map {
  grid-area: m;
  width: 80%;
}

.contact-name {
  grid-area: o;
  width: 100%;
}

.contact {
  grid-area: c;
  width: 80%;

}

footer {
  grid-area: f;
  width: 100%;
}


.first-image>h1 {
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
  padding-top: 1rem;
  font-weight: 500;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.first-image {
  text-align: center;
  height: 1000px;
}

.first-image>h1 {

  animation-name: slideInUp;

  animation-duration: 1.5s;

  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {

    transform: translateY(100%);
    visibility: visible;
  }

  100% {

    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {

    transform: translateY(100%);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
  }
}

.services-name>h2 {
  text-decoration: 6px #edcd1f underline;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;


}

.services {

  display: flex;
  justify-content: center;

}


.services>div:nth-child(1) {
  width: 18%;
  height: 500px;

  margin-right: 20px;

}

.services>div:nth-child(2) {
  width: 18%;
  height: 500px;


  margin-right: 20px;
}

.services>div:nth-child(3) {
  width: 18%;
  height: 500px;


}

.services img {
  width: 100%;
  height: 250px;
}

.services h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #516a83;
  font-weight: 600;
  margin-left: 10%;

}

.services p {
  margin-left: 10%;
  font-size: 1.1rem;
}

.about-us {
  display: flex;
  flex-direction: row;
}
.about-us>div:nth-child(1) {
width: 40%;
text-align: left;
}
.about-us>div:nth-child(1)>h4 {
  text-align: center;
  font-size: 4rem;
  
  text-decoration: 6px solid #edcd1f underline;
  text-transform: uppercase;
  font-weight: 400;
  
}

.about-us>div:nth-child(1)>p {
  margin-top: -2rem;
  margin-left: 10%;
  font-size: 1.1rem;
}

.about-us>div:nth-child(2) {
  width: 60%;
  height: 500px;
  background-image: url(../images/4.jpg);
  background-size: cover;
  background-position: center;
}

.info {
  color: #3d5975;
  display: flex;
  justify-content: center;

}

.info>div {
  width: 15%;
}

.info-big {
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
  transform: translateY(-20px);
}

.info-normal {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  transform: translateY(-15px);
}

.info>div:nth-child(2) {
  border-left: 2px solid white;
}

.info>div:nth-child(3) {
  border-left: 2px solid white;
}

.info>div:nth-child(4) {
  border-left: 2px solid white;
}


.mobile-projects-link{
  display: none;
}
.projects {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.projects>h4 {
  text-decoration: 6px #edcd1f underline;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  flex-basis: 100%;
}

.projects>div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.projects>div a {
  display: none;
}

.projects>div:hover {
  opacity: 30%;
  transition-duration: 0.5s;
}

.projects>div:hover a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.projects>div:nth-of-type(1) {
  background-image: url(../images/5.jpg);
  background-size: cover;
  flex-basis: 49%;
  height: 500px;
  margin-right: 20px;
}

.projects>div:nth-of-type(2) {
  background-image: url(../images/6.jpg);
  background-size: cover;
  height: 500px;
  flex-basis: 49%;
}

.projects>div:nth-of-type(3) {
  background-image: url(../images/7.jpg);
  background-size: cover;
  flex-basis: 49%;
  height: 500px;
  margin-right: 20px;
  margin-top: 20px;
}

.projects>div:nth-of-type(4) {
  background-image: url(../images/8.jpg);
  background-size: cover;
  background-position: bottom;
  height: 500px;
  flex-basis: 49%;
  margin-top: 20px;
}

.contact-name {
  text-align: center;
}

.contact-name>h4 {
  text-decoration: 6px #edcd1f underline;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  flex-basis: 100%;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  margin: 0 auto;
}

.map>iframe {
  width: 100%;
  height: 450px;
}


.contact {
  display: flex;
  margin: 0 auto;
}

.contact a {
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}

.contact>div:nth-of-type(1) {
  display: block;
  width: 45%;

  margin-right: 10%;
}

.contact>div:nth-of-type(1)>p:nth-of-type(1) {
  font-size: 2rem;
}

.contact>div:nth-of-type(1)>p:nth-of-type(2) {
  font-size: 1.3rem;
}

.contact>div:nth-of-type(1)>p:nth-of-type(2)>a {
  font-size: 1.3rem;
  color: inherit;
}





.contact #name-contact {
  width: 99%;
  height: 2rem;
}

.contact #contact-form {
  width: 99%;
  height: 2rem;
}

.contact #comment {
  width: 99%;
  height: 6rem;
}

textarea {
  resize: none;
}


.contact #submit {
  float: right;
  background-color: #3b3a3a;
  color: #edcd1f;
  font-size: 1.3rem;
  padding: 8px 16px;
}

.contact>div:nth-of-type(2) {
  display: block;
  width: 45%;

}

.contact>div:nth-of-type(2) a {
  color: inherit;

}

.contact>div:nth-of-type(2)>p:nth-of-type(1) {
  font-size: 2rem;
}

.contact>div:nth-of-type(2)>p:nth-of-type(2) {
  font-size: 1.3rem;
}

.contact>div:nth-of-type(2)>p:nth-of-type(3) {
  font-size: 2rem;
}

.contact>div:nth-of-type(2)>p:nth-of-type(4) {
  font-size: 1.3rem;
}

.contact>div:nth-of-type(2) hr {

  width: 20%;
  float: left;
  height: 10px;
  background-color: #edcd1f;
  border: 2px solid #edcd1f;
}

.contact>div:nth-of-type(2)>p:nth-of-type(5) {
  font-size: 2rem;
}

footer {
  display: flex;
  align-items: center;
  border-top: 1px solid black;

}

footer>p {
  margin-left: 10%;
  font-weight: 500;
}

footer img {
  height: 45px;
  width: 45px;
  margin-right: 15px;
}

footer img:hover {
  opacity: 60%;
  transition-duration: 0.3s;

}

footer a:nth-of-type(1) {
  margin-left: 40%;

}


@media screen and (max-width: 1030px) {
html,body{
  width: 100vw;
}
  .up-header {
   display: none;
  }
  
  
  header {
    height: 120px;
    width: 100vw;
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0px;
    z-index: 2;
  
  }
  
  
  header>div:nth-child(1) {
    background-color: #edcd1f;
    height: 40px;
    width: 100%;
    border-top: 1px solid #1e2d3b;
    border-bottom: 1px solid #1e2d3b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }
  header>div:nth-child(1)>.header-name {
    display: flex;
  }
  
  .circle {
    width: 3%;
    height: 30%;
    border-radius: 50%;
    background-color: #1e2d3b;
    animation: radial-pulse 3s infinite;
  }
  
  @keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px #3d5975;
    }
  
    100% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  }
  
  header h2 {
    margin: 8px 20px;
  }
  
  header h2 a {
    text-decoration: none;
    color: inherit;
  }
  
  header h2:nth-of-type(1) {
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  header h2:nth-of-type(2) {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: -1rem;
  }
  
  header>nav {
    background-color: #1e2d3b;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    border-top: 1px solid #1e2d3b;
    border-bottom: 1px solid #1e2d3b;
    flex-shrink: 2;
  }
  
  header>nav>a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    margin: 0;
    padding: 0 1rem;
  }
  

  main {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: repeat(9 1fr);
    grid-template-areas:
      "i i i i i i i i i i i i"
      "v v v v v v v v v v v v"
      "s s s s s s s s s s s s"
      "a a a a a a a a a a a a"
      "n n n n n n n n n n n n"
      "p p p p p p p p p p p p"
      "o o o o o o o o o o o o"
      "m m m m m m m m m m m m"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f"
    ;
  }
  
  .first-image {
    grid-area: i;
    width: 100vw;
  
    background-image: url(../images/first-image.jpg);
    background-size: cover;
    background-position: center;
  }
  
  
  
  .services-name {
    grid-area: v;
    width: 100vw;
  
  
  }
  
  .services {
    grid-area: s;
    width: 90vw;
    border-bottom: 1px solid #1e2d3b;
  
  
  
  }
  
  .about-us {
    grid-area: a;
    width: 100vw;
  
  }
  
  .info {
    grid-area: n;
    width: 100vw;
  
    background-color: #edcd1f;
  }
  
  .projects {
    grid-area: p;
    width: 100vw;
  
  
  }
  
  .map {
    grid-area: m;
    width: 100%;
  }
  
  .contact-name {
    grid-area: o;
    width: 100%;
  }
  
  .contact {
    grid-area: c;
    width: 80%;
  
  }
  
  footer {
    grid-area: f;
    width: 100%;
  }
  
  
  .first-image>h1 {
    text-transform: uppercase;
    color: white;
    font-size: 2.2rem;
    padding-top: 1rem;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  
  .first-image {
    text-align: center;
    height: 1000px;
  }
  
  .first-image>h1 {
  
    animation-name: slideInUp;
  
    animation-duration: 1.5s;
  
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes slideInUp {
    0% {
  
      transform: translateY(100%);
      visibility: visible;
    }
  
    100% {
  
      transform: translateY(0);
    }
  }
  
  @keyframes slideInUp {
    0% {
  
      transform: translateY(100%);
      visibility: visible;
    }
  
    100% {
      transform: translateY(0);
    }
  }

  .services-name>h2 {
    text-decoration: 6px #edcd1f underline;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;
  
  
  }
  
  .services {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
  
  }
  
  
  .services>div:nth-child(1) {
    width: 90vw;
    height: 500px;
  margin-left: 5vw;
  margin-bottom: 3rem;
    
  
    
  
  }
  
  .services>div:nth-child(2) {
    width: 90vw;
    height: 500px;
    margin-left: 5vw;
    margin-bottom: 3rem;
    
  }
  
  .services>div:nth-child(3) {
    width: 90vw;
    height: 500px;
    margin-left: 5vw;
    margin-bottom: 2rem;
  }
  
  .services img {
    width: 100%;
    height: 250px;
   
  }
  
  .services h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #516a83;
    font-weight: 600;
    margin-left: 7%;
  
  }
  
  .services p {
    margin-left: 7%;
    font-size: 1.1rem;
  }
  
  
  .about-us {
    display: flex;
    flex-direction: column;
  }
  .about-us>div:nth-child(1) {
  width: 100%;
  text-align: left;
  }
  .about-us>div:nth-child(1)>h4 {
    text-align: center;
    font-size: 2.2rem;
    border-bottom: none;
    text-decoration: 6px solid #edcd1f underline;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .about-us>div:nth-child(1)>p {
    margin-top: -2rem;
    margin-left: 10px;
  }
  
  .about-us>div:nth-child(2) {
    width: 100%;
    height: 500px;
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: center;
  }
  .info {
    margin-top: 5px;
    color: #3d5975;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  
  .info>div {
    width: 48%;
  }
  
  .info-big {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    transform: translateY(-20px);
  }
  
  .info-normal {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    transform: translateY(-15px);
  }
  .info>div:nth-child(1) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }
  .info>div:nth-child(2) {
    border-left: none;
    border-bottom: 1px solid white;
  }
  
  .info>div:nth-child(3) {
   
    border-left: none;
  }
  
  .info>div:nth-child(4) {
    border-left: 1px solid white;
  }
  .mobile-projects-link{
    display: inline;
  }
.projects {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.projects>h4 {
  text-decoration: 6px #edcd1f underline;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 400;
  flex-basis: 100%;
}

.projects>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.projects>div a {
  display: none;
}

.projects>div:hover {
  opacity: 30%;
  transition-duration: 0.5s;
}

.projects>div:hover a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.projects>div:nth-of-type(1) {
  background-image: url(../images/5.jpg);
  background-size: cover;
  flex-basis: 80%;
  height: 400px;
 margin: 5px auto;
}

.projects>div:nth-of-type(2) {
  background-image: url(../images/6.jpg);
  background-size: cover;
  height: 400px;
  flex-basis: 80%;
  margin: 5px auto;

}

.projects>div:nth-of-type(3) {
  background-image: url(../images/7.jpg);
  background-size: cover;
  flex-basis: 80%;

  height: 400px;
  margin: 5px auto;
}

.projects>div:nth-of-type(4) {
  background-image: url(../images/8.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
  flex-basis: 80%;
  margin: 5px auto;
}
.projects p{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
 

.contact-name {
  text-align: center;
}

.contact-name>h4 {
  text-decoration: 6px #edcd1f underline;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  flex-basis: 100%;
}

.contact-name {
  text-align: center;
  
}

.contact-name>h4 {
  text-decoration: 6px #edcd1f underline;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  flex-basis: 100%;
  font-size: 2.2rem;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  margin: 0 auto;
}

.map>iframe {
  width: 100%;
  height: 450px;
}

.contact {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.contact a {
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}

.contact>div:nth-of-type(1) {
  display: block;
  width: 100%;

  margin-right: 10%;
}

.contact>div:nth-of-type(1)>p:nth-of-type(1) {
  font-size: 1.5rem;
}

.contact>div:nth-of-type(1)>p:nth-of-type(2) {
  font-size: 1.1rem;
}

.contact>div:nth-of-type(1)>p:nth-of-type(2)>a {
  font-size: 1.1rem;
  color: inherit;
}



input{
  border: 1px solid #1e2d3b;
}

.contact #name-contact {
  width: 99%;
  height: 2rem;
}

.contact #contact-form {
  width: 99%;
  height: 2rem;
}

.contact #comment {
  width: 99%;
  height: 6rem;
}

textarea {
  resize: none;
}


.contact #submit {
  float: right;
  background-color: #3b3a3a;
  color: #edcd1f;
  font-size: 1.3rem;
  padding: 8px 16px;
}

.contact>div:nth-of-type(2) {
  display: block;
  width: 100%;

}

.contact>div:nth-of-type(2) a {
  color: inherit;

}

.contact>div:nth-of-type(2)>p:nth-of-type(1) {
  font-size: 1.5rem;
}

.contact>div:nth-of-type(2)>p:nth-of-type(2) {
  font-size: 1.1rem;
}

.contact>div:nth-of-type(2)>p:nth-of-type(3) {
  font-size: 1.1rem;
}

.contact>div:nth-of-type(2)>p:nth-of-type(4) {
  font-size: 1.1rem;
}


.contact>div:nth-of-type(2) hr {

  width: 100%;
  float: left;
  height: 10px;
  background-color: #edcd1f;
  border: 2px solid #edcd1f;
}

.contact>div:nth-of-type(2)>p:nth-of-type(5) {
  font-size: 1.1rem;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  border-top: 1px solid black;

}

footer>p {
  margin-left: 10%;
  font-weight: 500;
}

footer img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

footer img:hover {
  opacity: 60%;
  transition-duration: 0.3s;

}

footer a:nth-of-type(1) {
  margin-left: 20%;

}













}
