html, body {
    margin: 0;
    font-family: Arial,sans-serif;
}
#footer {
   position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 20vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: 1px solid #B0B0B0;
    width: 100%;
    font-size: small;
    background-color: white;

}

/*---------------HEADER--------------*/

#computer{
    width: 3vw;
    height: 4vh;
    margin-left: 0.5vw;
}
#phone{
    width: 1vw;
    height: 4vh;
    margin-left: 1vw;
}



#header {
    background-color: black;
    width: 100vw;
    height: 13vh;
    margin-top: 1vh;
    position: absolute;
    min-width: 500px;
    border-bottom: 2px solid #72ab00;
}
#name-surname-age{
padding-top: 3.5vh;
    padding-left: 23vw;
}
#name {
    color: #72ab00;
    font-size: 5vh;
    font-weight: bold;
}
#surname {
    color: #9a9a9a;
    font-size: 5vh;
    font-weight: bold;
}
#age {
    color: #72ab00;
    font-weight: bold;
    font-size: 1.5vh;
}
#profession-links{
    /*background-color: yellow;*/
    padding-left: 23vw;
    display: flex;

}
#profession{
    color: #72ab00;
    font-weight: bold;
    font-size: 1.7vh;
}
#links {
    padding-left: 40vh;
    font-weight: bold;
    font-size: 1.7vh;
    text-transform: uppercase;
}
#links>a {
    color: #9a9a9a;
    text-decoration: overline;
}
#links>a:visited {
    color: #9a9a9a;
}

#links>a:hover {
    color: #72ab00;
    transition-duration: 0.2s;
}

#links>a:active {
    color: #72ab00;
}

.links-header{
    padding-left: 0.5vw;
}
/*-----------INTRO--------------------------------*/

#intro {
    border: 1px solid #9a9a9a;
    position: absolute;
    margin: 25vh 25vw 25vh 23vw ;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}
/*-----------------------------LEFT BAR-------------------*/
#intro>img {
    position: relative;
    width: 16vw;
    height: 38.5vh;
    margin-top: 4vh;
    margin-left: 1.5vw;
}
#intro-text {
    /*background-color: yellow;*/
    position: absolute;
    width: 19vw;
    height: 37vh;
    margin-left: 18vw;
    margin-top: -40vh;
    overflow: hidden;
}
/*--Css in html 5 ans and experience*/
#intro-normal-text{
    font-size: 1.7vh ;
}
#intro-link-cv-text {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    position: absolute;
    background-color: #72ab00;
    width: 11vh;
    height: 3vh;
    margin-left: 6.2vw;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-top: 42vh;
    margin-right: 99vw;
    font-size: 1.8vh;
}
#intro-link-cv-text:hover{
    opacity: 70%;
    transition-duration: 1s;
}

#intro-link-cv-text>a {
    text-decoration: none;
    color: white;
}
/*-----------RIGHT-BAR------------------------------*/
#intro-right-bar{
    overflow: hidden;
    /*background-color: wheat;*/
    width: 12vw;
    height: 25vh;
    position: absolute;
    margin-left: 37.5vw;
    margin-top: -38.8vh;
}

.intro-right-bar-main{
    color: #72ab00;
    font-size: 1.8vh;
    font-weight: bold;
}
.intro-right-bar-normal-text{
    font-size: 1.7vh;
    margin-bottom: 1vh;
}
#intro-img-links {
    /*background-color: bisque;*/
    position: absolute;
    width: 12vw;
    height: 8vh;
    margin-left: 37.5vw;
    margin-top: -13vh;
    display: flex;
}
#img-linkedin{
    width: 3.3vw;
    height: 3.5vh;
    opacity: 80%;
}
#img-twitter {
    width: 2.3vw;
    height: 3.5vh;
    opacity: 80%;
}

#img-twitter:hover {
    opacity: 100%;
}
#img-linkedin:hover {
    opacity: 100%;
}

/*-------------------WORK---------------------------------------------------------------------------------------------*/
#her2lions{
    position: absolute;
   width: 15vw;
    height: 37vh;
    border-radius: 1vh;
    margin-top: 21vh;
    margin-left: 23.25vw;
    border: 1px solid #9a9a9a;
}
#her2lions:hover{
    transition: 0.7s;
    transform: scale(1.1);
}


#ec{
    position: absolute;
    width: 15vw;
    height: 37vh;
    border-radius: 1vh;
    margin-top: 21vh;
    border: 1px solid #9a9a9a;
    margin-left: 40.25vw;
}
#ec:hover{
    transition: 0.7s;
    transform: scale(1.1);
}


#ineo{
    position: absolute;
    width: 15vw;
    height: 37vh;
    border-radius: 1vh;
    margin-top: 21vh;
    border: 1px solid #9a9a9a;
    margin-left: 57.25vw;
}
#ineo:hover{
    transition: 0.7s;
    transform: scale(1.1);
}


#particulier{
    position: absolute;
    width: 15vw;
    height: 37vh;
    border-radius: 1vh;
    border: 1px solid #9a9a9a;
    margin-left: 23.25vw;
    margin-top: 60vh;
}
#particulier:hover{
    transition: 0.7s;
    transform: scale(1.1);
}


#boites{
    position: absolute;
    width: 15vw;
    height: 37vh;
    border-radius: 1vh;
    border: 1px solid #9a9a9a;
    margin-left: 40.25vw;
    margin-top: 60vh;
}
#boites:hover{
    transition: 0.7s;
    transform: scale(1.1);
}


#baie{
    position: absolute;
    width: 15vw;
    height: 37vh;
    border-radius: 1vh;
    border: 1px solid #9a9a9a;
    margin-left: 57.25vw;
    margin-top: 60vh;
}
#baie:hover{
    transition: 0.7s;
    transform: scale(1.1);
}
/*--------------------DIV-TEXT-----------------------------------------------------*/
#text-cegelec{
    background-color: #72ab00;
    color: white;
    font-weight: bold;
    width: 11vw;
    height: 2vh;
    position: absolute;
    margin-top: 21vh;
    margin-left: 25.25vw;
    padding-left: 0.5vw;
    padding-right: 0.2vw;
    border-radius: 0.5vh;
    font-size: 1.6vh;
    overflow: hidden;
}
#her2lions:hover + #text-cegelec{
    transform: scale(1.1);
    transition: 0.7s;
}
#text-cegelec:hover {
    transform: scale(1.1);
    transition: 0.7s;
}


#text-ec{
    background-color: #72ab00;
    color: white;
    font-weight: bold;
    width: 11vw;
    height: 2vh;
    position: absolute;
    margin-top: 21vh;
    margin-left: 42.25vw;
    padding-left: 0.5vw;
    padding-right: 0.2vw;
    border-radius: 0.5vh;
    font-size: 1.6vh;
    overflow: hidden;
}
#ec:hover + #text-ec{
    transform: scale(1.1);
    transition: 0.7s;
}
#text-ec:hover {
    transform: scale(1.1);
    transition: 0.7s;
}


#text-ineo{
    background-color: #72ab00;
    color: white;
    font-weight: bold;
    width: 9.5vw;
    height: 2vh;
    position: absolute;
    margin-top: 21vh;
    margin-left: 59.95vw;
    padding-left: 0.5vw;
    padding-right: 0.2vw;
    border-radius: 0.5vh;
    font-size: 1.6vh;
    overflow: hidden;
}
#ineo:hover + #text-ineo{
    transform: scale(1.1);
    transition: 0.7s;
}
#text-ineo:hover {
    transform: scale(1.1);
    transition: 0.7s;
}


#text-particulier{
    background-color: #72ab00;
    color: white;
    font-weight: bold;
    width: 7.5vw;
    height: 2vh;
    position: absolute;
    margin-top: 60vh;
    margin-left: 26.75vw;
    padding-left: 0.5vw;
    padding-right: 0.2vw;
    border-radius: 0.5vh;
    font-size: 1.6vh;
    overflow: hidden;
}
#particulier:hover + #text-particulier{
    transform: scale(1.1);
    transition: 0.7s;
}
#text-particulier:hover {
    transform: scale(1.1);
    transition: 0.7s;
}


#text-boites{
    background-color: #72ab00;
    color: white;
    font-weight: bold;
    width: 11vw;
    height: 2vh;
    position: absolute;
    margin-top: 60vh;
    margin-left: 42vw;
    padding-left: 0.5vw;
    padding-right: 0.2vw;
    border-radius: 0.5vh;
    font-size: 1.6vh;
    overflow: hidden;
}
#boites:hover + #text-boites{
    transform: scale(1.1);
    transition: 0.7s;
}
#text-boites:hover {
    transform: scale(1.1);
    transition: 0.7s;
}


#text-baie{
    background-color: #72ab00;
    color: white;
    font-weight: bold;
    width: 10vw;
    height: 2vh;
    position: absolute;
    margin-top: 60vh;
    margin-left: 59.5vw;
    padding-left: 0.5vw;
    padding-right: 0.2vw;
    border-radius: 0.5vh;
    font-size: 1.6vh;
    overflow: hidden;
}
#baie:hover + #text-baie{
    transform: scale(1.1);
    transition: 0.7s;
}
#text-baie:hover {
    transform: scale(1.1);
    transition: 0.7s;
}


#fknfooter-work {
    width: 100vw;
    position: absolute;
    height: 5vh;
    margin-top: 100vh;
}


/*----------------------------------CONTACTS--------------------------------------------------------------------------*/

#contact-contact{
    position: absolute;
    /*background-color: aquamarine;*/
    width: 15vw;
    height: 47vh;
    margin-left: 24.5vw;
    margin-top: 24vh;
}

#contact-text {
    /*background-color: blue;*/
    width: 15vw;
    height: 8vh;
    text-transform: uppercase;
    color: #72ab00;
    font-size: 4.5vh;
}
#name-text {
    /*background-color: gray;*/
    width: 15vw;
    height: 6.5vh;
    color: #72ab00;
    font-size: 2.7vh;
}
#adress-text{
   /* background-color: azure;*/
    width: 13vw;
    height: 6vh;
    font-size: 1.7vh;
}
#mail-tel-text{
   /* background-color: purple;*/
    width: 13vw;
    height: 7vh;
    font-size: 1.7vh;
}

#images-text{
   display: flex;
    width: 13vw;
    height: 10vh;
  /*  background-color: crimson;*/
}
#contact-img-linkedin{
    width: 3.3vw;
    height: 3.5vh;
    opacity: 80%;
}

#contact-img-twitter{
    width: 2.3vw;
    height: 3.5vh;
    opacity: 80%;
}

#contact-img-twitter:hover{
    opacity: 100%;
    transition-duration: 0.4s;
}

#contact-img-linkedin:hover{
    opacity: 100%;
    transition-duration: 0.4s;
}
#form {
    position: absolute;
   /* background-color: darkseagreen;*/
    height: 47vh;
    width: 30vw;
    margin-left: 41vw;
    margin-top: 33vh;
}

#me-contacter{
    width: 30vw;
    height: 4.2vh;
    /*background-color: purple;*/
    font-size: 2vh;
}
#form-form{
    width: 30vw;
    height: 40vh;
   /* background-color: cadetblue;*/
}

#submit{
    float: right;
    color: white;
    background-color: #72ab00;
    border: 2px solid #72ab00;
    font-size: 1.7vh;
    padding: 0.5vh 0.7vw 0.5vh 0.7vw;
}
#name-contact{
    width: 29.55vw;
    height: 3vh;
    border: 1px solid #B0B0B0;
    font-size: 1.3vh;
}
#contact{
    width: 29.55vw;
    height: 3vh;
    border: 1px solid #B0B0B0;
    font-size: 1.3vh;
}
#comment{
    width: 29.55vw;
    height: 10vh;
      border: 1px solid #B0B0B0;
    font-size: 1.3vh;
}
textarea{
    resize: none;
}
/*---------------------------CV-----------------------------------*/
#cv-intro{
    border: 1px solid #9a9a9a;
    position: absolute;
    margin: 23vh 25vw 25vh 24vw ;
    width: 48vw;
    height: 46vh;
    border-radius: 10px;
    display: flex;
}

#cv-intro-block-left{
    /*background-color: blue;*/
    width: 20vw;
    height: 37vh;
    margin-left: 2.2vw;
    margin-top: 4.5vh;
}
#cv-text{
    width: 20vw;
    /*background-color: aqua;*/
    height: 8vh;
    text-transform: uppercase;
    color: #72ab00;
    font-size: 4.5vh;

}

#cv-name-text{
    width: 20vw;
  /*  background-color: yellow;*/
    height: 4vh;
    font-size: 2.5vh;

}
#cv-adress-text{
   width: 20vw;
   /* background-color: crimson;*/
    height: 5.5vh;
    font-size: 1.7vh;

}
#cv-tel-mail-text{
    width: 20vw;
    /*background-color: purple;*/
    height: 7vh;
    font-size: 1.7vh;

}
#cv-images-links {
    width: 20vw;
    /*background-color: cadetblue;*/
    height: 5vh;
    display: flex;
}
#telecharger{
    background-color: #72ab00;
    width: 21.5vh;
    height: 3vh;
    padding-left: 3vw;
    padding-top: 0.8vh;
    margin-top: 4.5vh;

    font-size: 1.8vh;
    position: absolute;

}

#telecharger>a {
    text-decoration: none;
    font-size: 1.7vh;
    color: white;
}
#telecharger:hover{
    opacity: 85%;
    transition-duration: 0.8s;
}
#cv-intro-photo{
    margin-top: 4.5vh;
    width: 14vw;
    height: 33.8vh;
    margin-left: 9.5vw;
    border: 1px solid #B0B0B0;
}
/*--------Lists--------------------*/
#permis-langues-competences{
    position: absolute;
    overflow: hidden;
  /*  background-color: aqua;*/
    width: 13.3vw;
    height: 155vh;
    margin-top: 74vh;
    margin-left: 59vw;
}


#cv-work-formation{
   /* background-color: wheat;*/
    position: absolute;
    width: 33.5vw;
    height: 155vh;
    margin-top: 74vh;
    margin-left: 24vw;
}

.work-place {
    color: #72ab00;
    font-size: 2.2vh;
}
.time {
    font-style: italic;
    font-size: 1.7vh;
}
.cv-headers{
    font-size: 2.4vh;
}
.cv-work-formation-normal-text{
    font-size: 1.7vh;
    margin-bottom: 2vh;
}
.cv-headers-2{
    margin-top: 2vh;
    font-size: 2.4vh;
}
.cv-permis-etc-normal-text{
    font-size: 1.7vh;
}

#permis-langues-competences>progress {
    background: #72ab00;
    height: 1.8vh;
    border-radius: 1vh;
    border: 0.5vh solid #B0B0B0;
    width: 13vw;
}
#permis-langues-competences>progress::-webkit-progress-bar { background: #B0B0B0; }
#permis-langues-competences>progress::-webkit-progress-value { background: #72ab00; }


#cv-download-footer{
    background-color: #72ab00;
    width: 100vw;
    position: absolute;
    margin-top: 229.5vh;
    margin-bottom: 20vh;
    height: 2.6vh;



}
#fknfooter-cv{
    /*background-color: purple;*/
    position: absolute;
    margin-top: 236.1vh;
    width: 100vw;
    height: 10vh;
}

#cv-download-footer>a {
    font-size: 1.8vh;
    text-decoration: none;
    color: white;
   margin-left: 45vw;

}

#cv-download-footer{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

}
#cv-download-footer:hover{
    transition-duration: 0.8s;
    opacity: 80%;
}

