




    html, body {
        margin: 0;
        font-family: Arial, sans-serif;

    }

    #mobile-computer {
        width: 10vw;
        height: 4vh;
        margin-bottom: 0.5vh;
        margin-top: 0.5vh;
    }

    #mobile-phone {
        width: 5vw;
        height: 4vh;
        margin-left: 5vw;
        margin-bottom: 0.5vh;
        margin-top: 0.5vh;

    }


    #mobile-header {
        background-color: black;
        height: 13vh;
        border-bottom: 4px solid #72ab00;
        width: 100%;
        position: absolute;
        min-width: 1343px;

    }

    #mobile-name-surname {
        font-size: 4vh;
        margin-top: 1vh;
        margin-left: 5vw;
    }

    #mobile-name {
        color: #72ab00;
        font-weight: bold;
    }

    #mobile-surname {
        color: #B0B0B0;
        font-weight: bold;
    }

    #mobile-age {
        color: #B0B0B0;
        font-size: 1.7vh;
        font-weight: bold;
        margin-left: 5vw;
        margin-top: 0.5vh;
    }

    #block-header-links {
        /*background-color: purple;*/
        width: 85vw;
        height: 3vh;
        position: absolute;
        margin-left: 30vw;
        margin-top: -0.2vh;
        display: flex;
        font-size: 1.7vh;
        color: #B0B0B0;
    }

    .links-header > a {
        text-decoration: overline;
        font-size: 1.9vh;
        color: #B0B0B0;
        font-weight: bold;
    }

    .links-header {
        margin-left: 3vw;
    }

    #block-header-links > a:hover {
        color: #72ab00;
    }

    #mobile-profession {
        color: #72ab00;
        font-weight: bold;
        font-size: 2vh;
        margin-left: 5vw;
    }

    #mobile-index-intro {
        width: 85vw;
        border: 3px solid #B0B0B0;
        height: 128.5vh;
        margin-top: 16vh;
        position: absolute;
        margin-left: 25vw;
        border-radius: 1vh;
    }

    #mobile-index-intro > img {
        width: 72vw;
        height: 48vh;
        margin-top: 2vh;
        margin-left: 7vw;
    }

    #mobile-index-intro-text {
        width: 72vw;
        height: auto;
        margin-top: 2vh;
        margin-left: 7vw;
        /* background-color: wheat;*/
    }

    #mobile-5-ans {
        color: #72ab00;
        font-weight: bold;
        font-size: 6vh;
    }

    #mobile-dexperience {
        color: #72ab00;
        font-weight: bold;
        font-size: 4vh;
    }

    #mobile-intro-normal-text {
        font-size: 1.9vh;
    }

    #mobile-secteurs-etc {
        /* background-color: wheat;*/
        width: 72vw;
        height: auto;
        margin-top: 2vh;
        margin-left: 7vw;
    }

    .mobile-secteurs-etc-normal-text {
        font-size: 1.9vh;
    }

    .mobile-secteurs-etc-main {
        color: #72ab00;
        font-size: 2vh;
        font-weight: bold;
        margin-top: 1.5vh;
    }

    #mobile-intro-img-links {
        margin-top: 2vh;
    }

    #mobile-img-linkedin {
        width: 13vw;
        height: 3.7vh;
    }

    #mobile-img-twitter {
        width: 10vw;
        height: 3.7vh;
    }

    #mobile-intro-link-cv {
        margin-top: 2vh;
        margin-left: 17.5vw;
        background-color: #72ab00;
        width: 50vw;
        height: 5vh;

    }


    #mobile-intro-link-cv-link {
        text-decoration: none;
        color: white;
        font-size: 2.2vh;
        font-weight: bold;
        margin-top: 1.2vh;
        position: absolute;
        margin-left: 17vw;
    }


    #mobile-fkn-footer-index {
        width: 100vw;
        height: 50vh;
        position: absolute;
        margin-top: 147vh;
        /*background-color: purple;*/
    }

    #mobile-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding-left: 20vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-top: 2px solid #B0B0B0;
        width: 100%;
        font-size: small;
        background-color: white;

    }

    /*--------------------------------------MOBILE-CV----------------------------------------------------*/
    #mobile-cv-main {
        width: 85vw;
        border: 3px solid #B0B0B0;
        height: auto;
        margin-top: 16vh;
        position: absolute;
        margin-left: 25vw;
        border-radius: 1vh;
    }

    #mobile-cv-intro-1st-block {
        width: 72vw;
        height: auto;
        margin-top: 2vh;
        margin-left: 7vw;
        /* background-color: wheat;*/
    }

    #mobile-cv-text {
        color: #72ab00;
        font-size: 5vh;
    }

    #mobile-cv-name-text {
        font-size: 3vh;
        margin-top: 1vh;

    }

    #mobile-cv-adress-text {
        font-size: 1.9vh;
        margin-top: 2vh;
    }

    #mobile-cv-tel-mail-text {
        font-size: 1.9vh;
        margin-top: 2vh;

    }

    #mobile-cv-images-links {
        margin-top: 2vh;
    }

    #mobile-cv-link-pdf-top {
        width: 54vw;
        height: auto;
        background-color: #72ab00;
        margin-top: 2vh;
        border-radius: 0.5vh;
    }

    #link-cv-top {
        margin-left: 12vw;
    }

    #mobile-cv-link-pdf-top > a {
        text-decoration: none;
        font-size: 1.9vh;
        color: white;
    }


    #mobile-cv-intro-photo {
        width: 72vw;
        height: 48vh;
        margin-top: 4vh;
        margin-left: 7vw;
    }

    #mobile-cv-work-formation {
        width: 72vw;
        height: auto;
        margin-top: 2vh;
        margin-left: 7vw;
        /* background-color: wheat;*/
    }

    .mobile-cv-headers {
        font-size: 2.5vh;
        margin-top: 1.5vh;
    }

    .mobile-work-place {
        color: #72ab00;
        font-size: 2vh;
        margin-top: 1.5vh;
    }

    .mobile-time {
        font-style: italic;
        font-size: 1.9vh;
    }

    .mobile-cv-work-formation-normal-text {
        font-size: 1.9vh;
    }


    #mobile-permis-etc {
        width: 72vw;
        height: auto;
        margin-top: 2vh;
        margin-left: 7vw;
        /* background-color: wheat;*/
    }

    .mobile-cv-headers-2 {
        margin-top: 2vh;
        font-size: 2.5vh;
    }

    .mobile-cv-permis-etc-normal-text {
        font-size: 1.9vh;
    }


    #mobile-permis-etc > progress {
        background: #72ab00;
        height: 1.8vh;
        border-radius: 1vh;
        border: 0.5vh solid #B0B0B0;
        width: 72vw;
    }

    #mobile-permis-etc > progress::-webkit-progress-bar {
        background: #B0B0B0;
    }

    #mobile-permis-etc > progress::-webkit-progress-value {
        background: #72ab00;
    }


    #mobile-cv-telecharger-cv-footer {
        width: 85vw;
        height: auto;
        background-color: #72ab00;
        margin-top: 3vh;
        border-radius: 0.5vh;

    }

    #mobile-cv-telecharger-cv-footer > a {
        text-decoration: none;
        font-size: 2vh;
        color: white;
    }

    #mobile-cv-pdf {
        margin-left: 26vw;
        margin-top: 2vh;
    }

    #mobile-fkn-footer-cv {
        /*background-color: purple;*/
        height: 50vh;
        width: 100vw;
        position: absolute;
        margin-top: 375vh;
    }

    #mobile-cv-work-formation > hr {
        height: 1px;
        background-color: #B0B0B0;
    }

    #mobile-permis-etc > hr {
        height: 1px;
        background-color: #B0B0B0;
    }

    /*--------------------------------MOBILE-TRAVAUX-------------------------------------------*/
    #mobile-travaux-main-block {
        width: 85vw;
        /*background-color: wheat;*/
        height: 400vh;

        margin-top: 19vh;
        position: absolute;
        margin-left: 25vw;
    }


    #first-name {
        color: white;
        font-weight: bold;
        font-size: 2vh;
        background-color: #72ab00;
        width: 85vw;
        height: auto;


        border-radius: 0.5vh;
        text-align: center;

    }

    #second-name {
        color: white;
        font-weight: bold;
        font-size: 2vh;
        background-color: #72ab00;
        width: 85vw;
        height: auto;
        margin-top: 12vh;
        border-radius: 0.5vh;
        text-align: center;

    }

    #third-name {
        color: white;
        font-weight: bold;
        font-size: 2vh;
        background-color: #72ab00;
        width: 85vw;
        height: auto;
        margin-top: 12vh;
        border-radius: 0.5vh;
        text-align: center;

    }

    #fourth-name {
        color: white;
        font-weight: bold;
        font-size: 2vh;
        background-color: #72ab00;
        width: 85vw;
        height: auto;
        margin-top: 12vh;
        border-radius: 0.5vh;
        text-align: center;

    }

    #fifth-name {
        color: white;
        font-size: 2vh;
        font-weight: bold;
        background-color: #72ab00;
        width: 85vw;
        height: auto;
        margin-top: 12vh;
        border-radius: 0.5vh;
        text-align: center;

    }

    #sixth-name {
        color: white;
        font-weight: bold;
        font-size: 2vh;
        background-color: #72ab00;
        width: 85vw;
        height: auto;
        margin-top: 12vh;
        border-radius: 0.5vh;
        text-align: center;

    }

    #first-work > img {
        width: 85vw;
        height: 47vh;

        border: 2px solid #B0B0B0;
        border-radius: 0.5vh;
    }

    #second-work > img {
        width: 85vw;
        height: 47vh;

        border: 2px solid #B0B0B0;
        border-radius: 0.5vh;
    }

    #third-work > img {
        width: 85vw;
        height: 47vh;

        border: 2px solid #B0B0B0;
        border-radius: 0.5vh;
    }

    #fourth-work > img {
        width: 85vw;
        height: 47vh;

        border: 2px solid #B0B0B0;
        border-radius: 0.5vh;
    }

    #fifth-work > img {
        width: 85vw;
        height: 47vh;

        border: 2px solid #B0B0B0;
        border-radius: 0.5vh;
    }

    #sixth-work > img {
        width: 85vw;
        height: 47vh;
        border: 2px solid #B0B0B0;
        border-radius: 0.5vh;
    }

    /*----------------------------MOBILE-CONTACTS---------------------------------------------------*/
    #contacts-first-block {
        width: 85vw;
        height: auto;
        /* background-color: wheat;*/
        position: absolute;
        margin-left: 25vw;
        margin-top: 17vh;
    }

    #mobile-contacts-main {
        color: #72ab00;
        font-size: 4vh;
        text-transform: uppercase;
    }

    #mobile-cv-contacts-name-surname {
        color: #72ab00;
        font-size: 3vh;
        margin-top: 1vh;
    }

    #mobile-cv-contacts-adress {
        font-size: 1.9vh;
        margin-top: 2vh;
    }

    #mobile-cv-contacts-mail-text {
        font-size: 1.9vh;
        margin-top: 2vh;
    }

    #mobile-contacts-images-links {
        margin-top: 2vh;
    }

    #mobile-form {
        width: 85vw;
        height: auto;
        /*background-color: blanchedalmond;*/
        margin-left: 25vw;
        position: absolute;
        margin-top: 48vh;
    }

    #mobile-form > textarea {
        resize: none;
    }

    #mobile-name-contact {
        margin-top: 2vh;
        width: 85vw;
        height: 2vh;
        font-size: 1.7vh;
        border: 2px solid #B0B0B0;
    }

    #mobile-contact {
        width: 85vw;
        height: 2vh;
        font-size: 1.7vh;
        border: 2px solid #B0B0B0;
    }

    #mobile-comment {
        width: 85vw;
        height: 10vh;
        font-size: 1.7vh;
        border: 2px solid #B0B0B0;
        font-family: Arial, sans-serif;
    }

    #mobile-submit {
        background-color: #72ab00;
        color: white;
        border: 2px solid #72ab00;
        font-size: 1.9vh;
        font-weight: bold;
        margin-left: 69vw;


    }

