@keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -306px;
    }

    50% {
        margin-left: -306px;
    }

    60% {
        margin-left: -612px;
    }

    70% {
        margin-left: -612px;
    }

    80% {
        margin-left: -918px;
    }

    90% {
        margin-left: -918px;
    }
}

@keyframes slideFour {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -632px;
    }

    50% {
        margin-left: -632px;
    }

    60% {
        margin-left: -1264px;
    }

    70% {
        margin-left: -1264px;
    }

    80% {
        margin-left: -1896px;
    }

    90% {
        margin-left: -1896px;
    }
}

@keyframes slideIntro {
    20% {
        margin-top: 0px;
    }

    30% {
        margin-top: -245px;
    }

    50% {
        margin-top: -245px;
    }

    60% {
        margin-top: -490px;
    }

    70% {
        margin-top: -490px;
    }

    80% {
        margin-top: -735px;
    }

    90% {
        margin-top: -735px;
    }
}


    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 


$gray: #969696;
$gray-white: #bbb8b8;



html {

    scroll-behavior: smooth;
    padding: 0;
    margin: 0;



}

body {

    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;


}





    .open-doors {
        display: flex;
        flex-direction: row;

        .open-doors-intro {
            display: flex;
            flex-direction: column;
            width: 38%;
            height: 350px;
            /* background-color: greenyellow; */
            margin-right: 2%;
            overflow: hidden;


            .open-doors-intro-p {
                height: 105px;
                width: 100%;
                background-color: white;
                z-index: 2;

                p {
                    display: block;
                    color: $gray;
                    font-size: 2.3rem;
                    font-weight: 600;
                    text-align: center;
                    border-top: 1px solid $gray;
                    border-bottom: 1px solid $gray;
                    padding: 1.7rem;
                    background-color: white;

                    z-index: 2;

                }
            }



            .open-doors-intro-wrapper {

                height: 1400px;
                width: 100%;
                animation: slideIntro 10s ease infinite;
                z-index: 1;




                img {

                    width: 100%;
                    height: 245px;

                }

            }



        }

        .open-doors-image {
            width: 60%;
            height: 350px;
            /* background-color: grey; */
            display: flex;
            justify-content: flex-end;

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
        }

    }



    .large-choise {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 80px;

        /* background-color: indigo; */
        font-size: 2.3rem;
        font-weight: 600;
        text-align: center;
        color: $gray;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;

    }





    .pub {
        height: 700px;
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat(5 1fr);
        grid-template-areas:
            "f s t"
            "f s t"
            "f s t"
            "v v t"
            "v v t"
        ;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-bottom: 50px;

        h3 {
            margin: 0.3rem;
            margin-left: 0;
        }

        .pub-first {
            grid-area: f;
            width: 306px;
            height: 400px;
            overflow: hidden;
            
            .first-intro{
                
                background-color: RGBA(14,162,204,0.3);
                width: 306px;
                height: 50px;
                position: absolute; //!!!!!!!!!!!!!//
                margin-top: 150px;
               

                a{
                    cursor: pointer;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 100%;
                    font-size: 1.5rem;
                    margin: 0;
                    padding: 0;
                   
                }
                a:hover{
                    color: yellowgreen;
                }
                
            }

            .first-first {
                width: 1224px;
                height: 200px;
                animation: slide 20s ease infinite;
                



                img {
                    float: left;
                    height: 200px;
                    width: 306px;
                }


            }

            .first-second {
                max-width: 100%;
                height: 50%;
                color: $gray;
            }



        }

        .pub-second {
            grid-area: s;

            width: 306px;
            height: 400px;

            .second-intro{
                background-color:RGBA(150,150,150,0.7) ;
                width: 306px;
                height: 50px;
                position: absolute;
                margin-top: 150px;
              
              
                a{
                    cursor: pointer;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 100%;
                    font-size: 1.5rem;
                    margin: 0;
                    padding: 0;
                   
                }
                a:hover{
                    color: yellowgreen;
                }
            }


            .second-first {
                max-width: 100%;
                height: 50%;

                img {
                    width: 100%;
                    height: 100%;
                }

            }

            .second-second {
                max-width: 100%;
                height: 50%;
                color: $gray;

            }


        }

        .pub-third {
            grid-area: t;

            width: 306px;

            .third-first {
                width: 100%;
                height: 70%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .third-second {
                width: 100%;
                height: 30%;
                color: $gray;
            }


        }

        .pub-fourth {
            grid-area: v;
            width: 632px;
            height: 280px;
            overflow: hidden;

            .fourth-intro{
                background-color:RGBA(150,150,150,0.7) ;
                
                width: 300px;
                height: 80px;
                position: absolute;
                margin-top: 50px;


                a{
                    cursor: pointer;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 100%;
                    font-size: 1.5rem;
                    margin: 0;
                    margin-left: 20px;
                    padding: 0;
                   
                }
                a:hover{
                    color: yellowgreen;
                }

            }
            .fourth-first {
                width: 2528px;
                height: 100%;
                animation: slideFour 10s ease infinite;


                img {
                    float: left;
                    width: 632px;
                    height: 100%;
                }
            }


        }




    }





@media screen and (min-width: 1px) and (max-width: 600px) {
        html,body{
          max-width: 100vw;
        }
    
        html {

            scroll-behavior: smooth;
            padding: 0;
            margin: 0;
        
        
        
        }
        
        body {
        
            padding: 0;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            
            animation-name: fadeIn;
            animation-duration: 1s;
            animation-fill-mode: both;
        
        
        }
        
        
        
        
        
            .open-doors {
                display: flex;
                flex-direction: column;//
        
                .open-doors-intro {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 350px;
                    /* background-color: greenyellow; */
                    margin-right: 2%;
                    overflow: hidden;
        
        
                    .open-doors-intro-p {
                        height: 105px;
                        width: 100%;
                        background-color: white;
                        z-index: 2;
        
                        p {
                            display: block;
                            color: $gray;
                            font-size: 1.7rem;//
                            font-weight: 500;
                            text-align: center;
                            border-top: 1px solid $gray;
                            border-bottom: 1px solid $gray;
                            padding: 1.2rem;//
                            background-color: white;
        
                            z-index: 2;
        
                        }
                    }
        
        
        
                    .open-doors-intro-wrapper {
        
                        height: 1400px;
                        width: 100%;
                        animation: slideIntro 10s ease infinite;
                        z-index: 1;
        
        
        
        
                        img {
        
                            width: 100%;
                            height: 245px;
        
                        }
        
                    }
        
        
        
                }
        
                .open-doors-image {
                    width: 100%;
                    height: 350px;
                   
                    display: flex;
                    justify-content: flex-end;
                    display: none;///////////////
        
                    img {
                        display: block;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
        
            }
        
        
        
            .large-choise {
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                width: 100%;
                height: 80px;
        
                
                font-size: 1.7rem;//
                font-weight: 600;
                text-align: center;
                color: $gray;
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;
        
            }
        
        
        
        
        
            .pub {
                width: 100vw;
                height: 800px;//
                display: grid;
                grid-template-columns: repeat(3 1fr);
                grid-template-rows: repeat(4 1fr);//
                grid-template-areas:
                    "f f f"        
                    "s s s"
                    "t t t"
                    "v v v" 
                    
                ;
                justify-items: center;
                align-items: center;
                grid-column-gap: 0px;//
                grid-row-gap: 20px;
                margin-bottom: 0px;//
        
                h3 {
                    margin: 0.3rem;
                    margin-left: 0;
                }
        
                .pub-first {
                    grid-area: f;
                    width: 100vw;//
                    height: 400px;
                    overflow: hidden;
                    // margin: 0 auto;//
                    
                    .first-intro{
                        
                        background-color: RGBA(14,162,204,0.3);
                        width: 100vw;
                        height: 40px;
                        position: absolute; //!!!!!!!!!!!!!//
                        margin-top: 160px;
                       
        
                        a{
                            cursor: pointer;
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            height: 100%;
                            font-size: 1.5rem;
                            margin: 0;
                            padding: 0;
                           
                        }
                        a:hover{
                            color: yellowgreen;
                        }
                        
                    }
        
                    .first-first {
                        width: 400vw;//
                        height: 200px;
                        animation: slide 20s ease infinite;
                        
        
        
        
                        img {
                            float: left;
                            height: 200px;
                            width: 100vw;//
                        }
        
        
                    }
        
                    .first-second {
                        max-width: 100%;
                        height: 50%;
                        color: $gray;
                    }
        
        
        
                }
        
                .pub-second {
                    grid-area: s;
        
                    width: 100vw;//
                    height: 400px;
        
                    .second-intro{
                        background-color:RGBA(150,150,150,0.7) ;
                        width: 100vw;
                        height: 50px;
                        position: absolute;
                        margin-top: 150px;
                      
                      
                        a{
                            cursor: pointer;
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            height: 100%;
                            font-size: 1.5rem;
                            margin: 0;
                            padding: 0;
                           
                        }
                        a:hover{
                            color: yellowgreen;
                        }
                    }
        
        
                    .second-first {
                        max-width: 100%;
                        height: 50%;
        
                        img {
                            width: 100%;
                            height: 100%;
                        }
        
                    }
        
                    .second-second {
                        max-width: 100%;
                        height: 50%;
                        color: $gray;
        
                    }
        
        
                }
        
                .pub-third {
                    grid-area: t;
        
                    width: 100vw;
        
                    .third-first {
                        width: 100%;
                        height: 70%;
        
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
        
                    .third-second {
                        width: 100%;
                        height: 30%;
                        color: $gray;
                    }
        
        
                }
        
                .pub-fourth {
                    grid-area: v;
                    width: 100vw;
                    height: 280px;
                    overflow: hidden;
        
                    .fourth-intro{
                        background-color:RGBA(150,150,150,0.7) ;
                        
                        width: 300px;
                        height: 80px;
                        position: absolute;
                        margin-top: 50px;
        
        
                        a{
                            cursor: pointer;
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            height: 100%;
                            font-size: 1.5rem;
                            margin: 0;
                            margin-left: 20px;
                            padding: 0;
                           
                        }
                        a:hover{
                            color: yellowgreen;
                        }
        
                    }
                    .fourth-first {
                        width: 2528px;
                        height: 100%;
                        animation: slideFour 10s ease infinite;
        
        
                        img {
                            float: left;
                            width: 632px;
                            height: 100%;
                        }
                    }
        
        
                }
        
        
        
        
            }

























    }


